<!DOCTYPE html>
<html>
<head>
    <title>Epsilon</title>
    <link href="contents/css/bootstrap.min.css" rel="stylesheet" />
    <link href="contents/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="contents/css/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="contents/css/jquery-ui.theme.css" rel="stylesheet" />
    <link href="contents/css/epsilon.css" rel="stylesheet" />

    <script src="contents/js/jquery-2.1.3.min.js"></script>
    <script src="contents/js/jquery-ui.min.js"></script>
    <script src="contents/js/bootstrap.min.js"></script>
    <script src="contents/js/angular.min.js"></script>
    <script src="contents/js/angular-dragdrop.min.js"></script>
    <script src="contents/js/epsilon.js"></script>
    <script src="contents/js/epsilonAngular.js"></script>
</head>
<body ng-app="epsilon">
    <div ng-controller="main">
        <div id="nav">

        </div>
        <div id="content" ng-controller="content">
            <div class="container">
                <div id="staticImages" ng-controller="staticImages">
                    <div class="row">
                        <div ng-repeat="image in images" class="col-md-4">
                            <div class="imageHolder">
                                <img class="toyImage" ng-src="{{image.src}}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dragableImages" ng-controller="dragableImages" class="margin-top-10">
                    <div class="row">
                        <!-- this is a repated element for each image in images. Note "image" is now an object.  -->
                        <div class="col-md-4" ng-repeat="image in images">
                            <!-- this is an element that is dropable. it is disabled if there is an image in it by default start up-->
                            <div class="imageHolder" data-drop="true" jqyoui-droppable="{onDrop:'onDrop'}" ng-model="image" data-index="{{$index}}" data-jqyoui-options="{disabled:{{image.isImage?true:false}}}">
                                <!-- this is a element that is dragable. it doesnt show if "image.isImage" doesnt exist -->
                                <div class="img" ng-model="image" data-drag="true" jqyoui-draggable ng-hide="!image.isImage" data-index="{{image.index}}" data-jqyoui-options="{ revert: 'invalid'}">
                                    <!--{{image.index}}
                                    <br />
                                    {{image.history}}
                                     this is where the image would go:
                                        it would look something like this
                                        since the "image" object contains an property that is called src
                                        it has been copied from the root images
                                    <br />image: {{image.src}}
                                    -->
                                    <img class="toyImage" ng-src="{{image.src}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
